
body{
    background-color: rgb(254, 242, 200);
}

header{

    background-color: rgba(128, 128, 128, 0.548);
    height: 80px;
    
}

.head{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 50px;

   
}
.head2,ul,li{
     display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 50px;
    margin-top: 5px;
    font-weight: bold;
}
.head3,ul,li{
       display: flex;
    align-items: center;
    gap: 1px;
    margin-left: 40px;
}


.head4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(250, 226, 171);
    width: 100%;
    margin-top: 5px;
    
}
.containers img{
    width: 250px;
    height: 300px;
    object-fit: cover;
   border-radius: 20px; 
  
   border: 2px solid rgb(253, 238, 183);
   
 
}
.containers{
    height: auto;
    width: 100%;
     display: flex;
     flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    
 }  
 .head5,.head6,.head7{
    width: 253px;
    height: auto;
   border: 2px solid rgb(241, 236, 181);
   border-radius: 18px;
 }

 .head5 p{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
     display: flex;
    justify-content: center;
 }
  .head6 p{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
     display: flex;
    justify-content: center;
 }
  .head7 p{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
 }

.head5:hover{

    background-color: rgb(252, 231, 123);
    transform: scale(1.05);
}

.head6:hover{

    background-color: rgb(248, 228, 133);
    transform: scale(1.05);
}

.head7:hover:hover{

    background-color: rgb(251, 242, 146);
    transform: scale(1.05);
}
.head5 p1{
    color: rgb(249, 127, 21);
    display: flex;
    justify-content: center;
    font-size: larger;
}
.head6 p2{
    color: rgb(249, 127, 21);
      display: flex;
    justify-content: center;
    font-size: larger;
   
}

.head7 p3{
    color: rgb(249, 127, 21);
      display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    
}

